


  .about { 
    margin: 60px auto;
  padding: 30px;
  max-width: 900px;
    border: 5px solid transparent;
    border-radius: 15px;
    background: linear-gradient(rgb(19,44,44), rgb(19,44,44)) padding-box,
                linear-gradient(270deg, #64adee, #ff00ff, #00f0ff) border-box;
    background-size: 400% 400%;
    animation: gradientBorder 3s ease infinite;
  }
  @keyframes gradientBorder {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  
  #heading {margin-bottom: 8px;
    padding: 35px;
    margin-top: 3px;
   color: rgb(100, 173, 238);
   
   font-size: 3.5rem;
   
  }
  
  #content {
    color: white;
   font-size: 40 px;
   align-items: flex-start;
    
    font-weight: lighter;
   
  }
  
  
  #content .about-intro-mobile {
    display: none;
  }
  
  