.about {
    margin-top: 30px; 
    width: 50%;
    justify-items: center;
    margin-left: 25%;
    background-color: rgb(19, 44, 44);
    height: 500px;
    border: 2px solid rgb(100, 173, 238);
    
    
  }
  
  #heading {margin-bottom: 8px;
    padding: 35px;
    margin-top: 9px;
   color: rgb(100, 173, 238);
   
   font-size: 50px;
   
  }
  
  #content {
    color: white;
   font-size: 19px;
    padding-left: 4%;
    padding-right: 4%;
    font-weight: lighter;
   
  }