#certificate_heading{
    color:rgb(100, 173, 238);
    font-size: 50px;
    justify-items: center;
    margin-top: 4vh;
    padding: 3vh;
    font-weight: 800;
    top: 2%;
    
  }
  
  
  
  /* #certificate_heading {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
    color: rgb(100, 173, 238);
  } */
  
  .certificate_slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 550px;
    margin-left: 480px;
    overflow: visible;
   
  }
  
  .certificate_item {
    position: absolute;
    width: 90%;
    height: 90%;
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
  }
  
  .certificate_item img {
    width: 90%;
    max-height: 90%;
    border-radius: 12px;
    box-shadow: 20px 20px 25px rgba(1, 166, 255, 0.35);
    padding-top: 30px;
    
    padding-right: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  }
  .certificate_item img:hover {
    transform: scale(1.03);
    
  }
  
  
  
  
  .certificate_item.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  
  .certificate_item.prev {
    opacity: 0;
    transform: translateX(100%);
   
  }