#connect{
    color:rgb(100, 173, 238);
    font-size: 30px;
    justify-items: center;
    margin-top: 4vh;
    padding: 3vh;
    font-weight: 800;
    top: 2%;
    
  }
  #connect_line{
    color:white;
    font-size: 20px;
    justify-items: center;
    margin-top: 1vh;
    padding: 2vh;
    font-weight: 600;
    top: 1%;
  }