.form{
margin: auto;


}
#form_contact{
   margin: auto;

width:fit-content ;}



/* Contact form hide karo sab jagah se */
#form_heading{
  display: none !important;
}

#form_content {
  display: none !important;
}

#form_content input{
  display: none !important;
}

#submit {
  display: none !important;
}

#submit button{
  display: none !important;
}


