#form_heading{
    color:rgb(239, 181, 21);
  font-size: 20px;
  justify-items: center;
  margin-top: 4vh;
  padding: 3vh;
  font-weight: 800;
  top: 2%;
   }
   #form_content input{
   margin-left: 66vh;
  font-size:35px;
   color: rgb(16, 16, 17);
   margin-top: 2%;
   background-color: white;
   
   }
   #submit button{display: flex;
justify-content: center;
margin-left: 80vh;
font-size: 40px;
align-items: center;
margin-top: 4%;
color: white;
background-color:rgb(239, 181, 21);
border-radius: 15px;
width: 150px;
height: 60px;

   }


