.image{
    background-image: url("../../images/final_background.jpeg");
    background-size: cover;
    width: 100%;
    /* height: 842px; */
    height: 100vh;
    top: 4%;
    
}
#text{
   color: white;
   /* font-size: 70px; */
   font-size: 4vw;
   position: absolute;
   top: 20%;
   left: 2%;

}
#texts{
    color: white;
    position: absolute;
    /* font-size: 22px; */
    font-size: 1.2rem;
    top: 55%;
    left: 2%;
    
}
/* .changing-text {
    font-weight: bold;
    color: white; 
    animation: alternate 0.5s;
    
  } */
  .changing-text {
    transition: color 0.6s, background 0.6s;
  }
  
  
  
  
  @keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
  }

  .top_icons{
 color: white;
 position: absolute;
   
    font-size: 1.2rem;
    top: 70%;
    left: 2.5%;
display: flex;
  gap: 18px;
  font-size: 28px;
  margin-top: 2vh;
  
  }
  .top_icons a{
    color:#262525;           
    transition: all 0.3s ease;  
  }
  .top_icons a:hover {
        transform: scale(1.2);      
   }
  .button{
    position: absolute;
    top: 80%;
    left: 2%;
    justify-content: space-evenly;
    height: 60px;
    width: 300px;
    display: flex;
    
  }

  
  .button :hover{
   transform: scale(1.05);
   
    
  }
  
  #about_me{
    border-radius: 20px;
    width:150px ;
    font-size: large;
    background-color: rgb(232, 220, 220);
    margin-right: 15px;
    height: 40px;
   
  }
  #contact_me{
    border-radius: 20px;
    width:150px ;
    font-size: large;
    margin-left: 20px;
    height: 40px;
    background-color: rgb(232, 220, 220);
  }