#header {
    width: 100%;
    min-height: 60px;
    background-color: rgb(249, 244, 244);
position:fixed;
top: 0;

display: flex;  
justify-content: space-between;
    align-items: center;           
    
    padding: 0.5rem 1rem;
    z-index: 1000; 
    
                
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 80px; 
}


#container_left .logo {
    height: 50px;
    width: auto;
    margin-left: 5px;
    border-radius: 7px;
    
  transition: transform 0.3s ease;
}
#container_left .logo:hover {
 transform: scale(1.1);
 filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
 
}
#container_left .logo::after {
  content: "";
  
  position: relative;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  transition: left 0.6s;
}

#container_left .logo:hover::after {
  left: 100%;
}



#container_right {
    display: flex;
    gap: 30px;  
flex-wrap: wrap;   }

#container_right a {
    color: black;
    text-decoration: none;
    
    font-size: 1.4rem;
   
margin: 0%;
padding: 4px 10px;
   border: 2px solid transparent;
 
  border-radius: 8px;
  
}
#container_right a:hover { border:2px solid black;

  color: rgb(158, 107, 44);}


#container_right a[href="#contact"] {
    display: none !important;
}


  
   