#project_heading{
    color:rgb(100, 173, 238);
    font-size: 50px;
    justify-items: center;
    margin-top: 4vh;
    padding: 3vh;
    font-weight: 800;
    top: 2%;
    
  }
  #projects{
    margin-left: 18vh;
  margin-right: 19vh;
  }
  #project_text{
    color: aliceblue;
    margin-left: 36vh;
    margin-top: 0vh;
    margin-right: 32vh;
    font-size: 20px;
    background-color: rgb(16, 35, 35);
    padding: 5vh;
    
  }