#project_heading{
    color:rgb(100, 173, 238);
    font-size: 50px;
    justify-items: center;
    margin-top: 4vh;
    padding: 3vh;
    font-weight: 800;
    top: 2%;
    
  }
  #projects{
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
  }
  
  #projects img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    /* Blue shadow/glow hata di */
    box-shadow: none;
  }
  
  #project_text{
    color: aliceblue;
    margin: 30px auto 0 auto;
    max-width: 80%;
    font-size: clamp(1rem, 1.3vw, 1.3rem);
    background-color: rgb(16, 35, 35);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    line-height: 1.8;
    /* Image ke same width me align */
    width: 100%;
    box-sizing: border-box;
  }
  
  #project_text h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: rgb(100, 173, 238);
    font-size: clamp(1.5rem, 2.5vw, 2rem);
  }