/* .skills{
    color: aliceblue;
    height: 400px;
    margin-left: 44vh;
    margin-top: 30px;
    background-color:rgb(20, 21, 21) ;
    margin-right: 44vh;
    border: 2px solid rgb(81, 163, 235);
border-radius: 12px;
box-shadow: 0 0 15px rgba(100, 173, 238, 0.7),
          0 0 30px rgba(100, 173, 238, 0.4);
   
   
   
    
} */
          
.skills {color: aliceblue;
    height: 400px;
    margin-left: 44vh;
    margin-top: 30px;
    background-color:rgb(20, 21, 21) ;
    margin-right: 44vh;
  border: 2.5px solid #0283f4;
  border-radius: 12px;
  animation: glowBorder 0.5s infinite alternate;
}

@keyframes glowBorder {
  from {
    box-shadow: 0 0 10px #64adee, 0 0 20px #64adee;
  }
  to {
    box-shadow: 0 0 25px #64adee, 0 0 40px #64adee;
  }
}



.skills_heading{
color:rgb(100, 173, 238);
font-size: 30px;
justify-items: center;
margin-top: 2vh;
padding: 3vh;

}
/* .skills_image img{
height: 60px;
width: 60px;
margin-top: 4vh;
margin-right: 15px;
margin-left: 85px;
box-shadow: 4px 4px 10px rgba(76, 172, 237, 0.313);
border-radius: 10%;
} */

 .skills_image img {
    height: 60px;
    width: 60px;
    margin-top: 4vh;
    margin-right: 15px;
    margin-left: 85px;
    border-radius: 12px;
    border: 2px solid #64adee;
    box-shadow: 0 0 10px #64adee, 0 0 20px #64adee;
    transition: 0.3s ease-in-out;
  }
  
  .skills_image img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #64adee, 0 0 40px #64adee;
  } 
  

   
  
  