
          
.skills {color: aliceblue;
    height: 400px;
    margin: 30px auto;
    width: 50%;
  
    background-color:rgb(20, 21, 21) ;
   
  border: 2px solid #0283f4;
  border-radius: 12px;
  animation: glowBorder 0.5s infinite alternate;
}

@keyframes glowBorder {
  from {
    box-shadow: 0 0 10px #64adee, 0 0 20px #64adee;
  }
  to {
    box-shadow: 0 0 20px #64adee, 0 0 30px #64adee;
  }
}



.skills_heading{
color:rgb(100, 173, 238);
font-size: 30px;
justify-items: center;
margin-top: 2vh;
padding: 3vh;

}


 .skills_image img {
    height: 60px;
    width: 60px;
    margin-top: 4vh;
    margin-right: 15px;
    margin-left: 98px;
    border-radius: 12px;
    border: 2px solid #64adee;
    box-shadow: 0 0 10px #64adee, 0 0 20px #64adee;
    transition: 0.3s ease-in-out;
  }
  
  .skills_image img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #64adee, 0 0 40px #64adee;
  } 
  

   
  
  