* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html,body {
    background-color: black;
    overflow-x: hidden;
    
}
 */

#certificate_heading{
  color:rgb(100, 173, 238);
  font-size: 50px;
  justify-items: center;
  margin-top: 4vh;
  padding: 3vh;
  font-weight: 800;
  top: 2%;
  
}



