* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
}
body {
    background-color: black;
    
}
/* #header {
    width: 100%;
    height: 60px;
    background-color: rgb(249, 244, 244);
position:fixed;
top: 0;
display: flex;  
justify-content: space-between;
    align-items: center;           
    padding: 0 20px; 
    z-index: 1000; 
                
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 80px; 
}


#container_left .logo {
    height: 50px;
    width: auto;
    margin-left: 5px;
    border-radius: 7px;
    
  transition: transform 0.3s ease;
}
#container_left .logo:hover {
 transform: scale(1.1);
 filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
 
}
#container_left .logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  transition: left 0.6s;
}

#container_left .logo:hover::after {
  left: 100%;
}



#container_right {
    display: flex;
    gap: 30px;  
flex-wrap: wrap;   }

#container_right a {
    color: black;
    text-decoration: none;
    /* font-size: 16px; */
    /* font-size: 1.4rem;
    margin-right: 40px;

padding: 4px 10px;
   border: 2px solid transparent;
 
  border-radius: 8px;
  
  
   
}



#container_right a:hover { border:2px solid black;
  color: rgb(158, 107, 44);} */
   




/* .image{
    background-image: url("final_background.jpeg");
    background-size: cover;
    width: 100%;
    /* height: 842px; */
    /* height: 100vh;
    top: 4%; */
    
/* }
#text{
   color: white;
   /* font-size: 70px; */
   /* font-size: 4vw;
   position: absolute;
   top: 20%;
   left: 2%;

} */
/* #texts{
    color: white;
    position: absolute;
    /* font-size: 22px; */
    /* font-size: 1.2rem;
    top: 55%;
    left: 2%;
    
} */ */
/* .changing-text {
    font-weight: bold;
    color: white; 
    animation: alternate 0.5s;
    
  } */
  /* .changing-text {
    transition: color 0.6s, background 0.6s;
  }
  
  
  
  
  @keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
  }  */

  /* .top_icons{
 color: white;
 position: absolute;
   
    font-size: 1.2rem;
    top: 70%;
    left: 2.5%;
display: flex;
  gap: 18px;
  font-size: 28px;
  margin-top: 2vh;
  
  }
  .top_icons a{
    color:#262525;           
    transition: all 0.3s ease;  
  }
  .top_icons a:hover {
        transform: scale(1.2);      
   }
  .button{
    position: absolute;
    top: 80%;
    left: 2%;
    justify-content: space-evenly;
    height: 60px;
    width: 300px;
    display: flex;
    
  } */

  
  /* .button :hover{
   transform: scale(1.05);
   
    
  }
  
  #about_me{
    border-radius: 20px;
    width:150px ;
    font-size: large;
    background-color: rgb(232, 220, 220);
    margin-right: 15px;
    height: 40px;
   
  } */
  /* #contact_me{
    border-radius: 20px;
    width:150px ;
    font-size: large;
    margin-left: 20px;
    height: 40px;
    background-color: rgb(232, 220, 220);
  }  */
    /* .about {
        margin-top: 30px; 
        width: 50%;
        justify-items: center;
        margin-left: 25%;
        background-color: rgb(19, 44, 44);
        height: 500px;
        border: 2px solid rgb(100, 173, 238);
        
        
      }
      
      #heading {margin-bottom: 8px;
        padding: 35px;
        margin-top: 9px;
       color: rgb(100, 173, 238);
       
       font-size: 50px;
       
      }
      
      #content {
        color: white;
       font-size: 19px;
        padding-left: 4%;
        padding-right: 4%;
        font-weight: lighter;
       
      } */

      /* .skills{
        color: aliceblue;
        height: 400px;
        margin-left: 44vh;
        margin-top: 30px;
        background-color:rgb(20, 21, 21) ;
        margin-right: 44vh;
        border: 2px solid rgb(81, 163, 235);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(100, 173, 238, 0.7),
              0 0 30px rgba(100, 173, 238, 0.4);
       
       
       
        
}
.skills_heading{
  color:rgb(100, 173, 238);
  font-size: 30px;
  justify-items: center;
  margin-top: 2vh;
  padding: 3vh;
  
}
.skills_image img{
  height: 60px;
  width: 60px;
  margin-top: 4vh;
  margin-right: 15px;
  margin-left: 85px;
  box-shadow: 4px 4px 10px rgba(76, 172, 237, 0.313);
  border-radius: 10%;
} */
/* .project{
 
  background-color: rgb(16, 17, 17);
 
  
  
} */

/* #project_heading{
  color:rgb(100, 173, 238);
  font-size: 50px;
  justify-items: center;
  margin-top: 4vh;
  padding: 3vh;
  font-weight: 800;
  top: 2%;
  
}
#projects{
  margin-left: 18vh;
margin-right: 19vh;
}
#project_text{
  color: aliceblue;
  margin-left: 36vh;
  margin-top: 0vh;
  margin-right: 32vh;
  font-size: 20px;
  background-color: rgb(16, 35, 35);
  padding: 5vh;
  
} */
#certificate_heading{
  color:rgb(100, 173, 238);
  font-size: 50px;
  justify-items: center;
  margin-top: 4vh;
  padding: 3vh;
  font-weight: 800;
  top: 2%;
  
}



/* #certificate_heading {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
  color: rgb(100, 173, 238);
} */

/* .certificate_slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 550px;
  margin-left: 400px;
  overflow: visible;
 
}

.certificate_item {
  position: absolute;
  width: 90%;
  height: 90%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
} */

/* .certificate_item img {
  width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 20px 20px 25px rgba(1, 166, 255, 0.35);
  padding-top: 30px;
  
  padding-right: 2px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.certificate_item img:hover {
  transform: scale(1.03);
  
}




.certificate_item.active {
  opacity: 1;
  transform: translateX(0);
}


.certificate_item.prev {
  opacity: 0;
  transform: translateX(100%);
 
} */

/* #connect{
  color:rgb(100, 173, 238);
  font-size: 30px;
  justify-items: center;
  margin-top: 4vh;
  padding: 3vh;
  font-weight: 800;
  top: 2%;
  
}
#connect_line{
  color:white;
  font-size: 20px;
  justify-items: center;
  margin-top: 1vh;
  padding: 2vh;
  font-weight: 600;
  top: 1%;
} */
/* .icons{
  color: aliceblue;
  justify-content: center;
  display: flex;
  gap: 18px;
  font-size: 28px;
  margin-top: 2vh;
  }
  .icons a{
    color: white;           
    transition: all 0.3s ease;  
  }
  .icons a:hover {
        transform: scale(1.2);      
   } */
   /* #form_heading{
    color:rgb(239, 181, 21);
  font-size: 20px;
  justify-items: center;
  margin-top: 4vh;
  padding: 3vh;
  font-weight: 800;
  top: 2%;
   }
   #form_content input{
   margin-left: 66vh;
  font-size:35px;
   color: rgb(16, 16, 17);
   margin-top: 2%;
   background-color: white;
   
   }
   #submit button{display: flex;
justify-content: center;
margin-left: 80vh;
font-size: 40px;
align-items: center;
margin-top: 4%;
color: white;
background-color:rgb(239, 181, 21);
border-radius: 15px;
width: 150px;
height: 60px;

   } */
   /* .footer{
    color: aliceblue;
        height: 80px;
       margin-top: 70px;
        background-color:rgb(13, 25, 39) ;
       
   }
   #footer_content{
    color: white;
    padding-top: 3.5vh;
    padding-left: 70vh;
   } */